<table mat-table [dataSource]="usersTableDisplay" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- id Column -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <!-- title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <!-- body Column -->
  <ng-container matColumnDef="body">
    <th mat-header-cell *matHeaderCellDef>Body</th>
    <td mat-cell *matCellDef="let element">{{ element.body }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="openUserInfo(row.id)"
  ></tr>
</table>

<mat-spinner *ngIf="showSpinner === true" style="margin: auto"></mat-spinner>

<mat-paginator
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [length]="totalItems"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
  aria-label="Select page"
>
</mat-paginator>
